a {
    color: #E57949;
    text-decoration: none;
    list-style: none;
    margin-left: 40px;
}

nav {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #2E3333;
    margin-top: -10px;
}

ul {
    display: flex;
    flex-direction: row;
}

.imagen__portada {
    width: 100%;
    height: 200px;
    object-fit: cover;
}