.contador button {
    background-color: #E57949;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
}

.contador input {
    height: 24px;
    width: 60px;
}

.button__cart  button{
    margin-top: 20px;
    width: 120px;
     border-radius: 30px;
    align-content: center;
}

.style__button {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.style__button p {
    margin: 0px 15px;
}