.contador button {
    background-color: #E57949;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
}

.contador input {
    height: 24px;
    width: 60px;
}

.button__card  button{
    margin-top: 20px;
    width: 120px;
     border-radius: 30px;
    align-content: center;
}